* {
    box-sizing: border-box;
}
  
body {
    margin: auto;
    background-color: rgb(127, 144, 146, 0.8);
}

.slider-wrapper {
    width: 95%;
    height: 80%;
    margin: 1rem;
    background-color: #ffffff70;
    position: relative;
}

#card-list {
    gap: 10px;
    height: calc(100% - 62px);
    width: 100%;
    padding: 5px 10px;
    display: none;
    grid-template-columns: repeat(4, auto);
    list-style: none;
    margin: auto;
    box-shadow: 5px 5px 5px rgb(71, 71, 71);
    border: 2px solid #757575;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #00000030 #00000020
}

#card-list::-webkit-scrollbar {
    width: 8px;
}

#card-list::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 5px;
}

#card-list::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 4px;
}

/*
#cardlist::-webkit-scrollbar {
    display: none;
}
*/

/*
#card-list-title {
    display: block;
    color:rgb(218, 16, 16);
    margin: auto;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 5px#888888;
}
*/

#card-list-title {
    height: 62px;
    display: block;
    color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 1.4px 1.4px #757575;
}


.card {
    width: 95%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 5px 5px 5px#888888;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 90%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    z-index: 9999;
    display: none;
}

.popup h2 {
    margin-top: 0;
}

.popup p {
    margin: 10px 0;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #999;
    cursor: pointer;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
}

.forms {
    border: 1px solid #999;
    border-radius: 4px;
    box-shadow: 5px 5px 5px#888888;
    margin-bottom: 20px;
}

#left-section {
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

#right-section {
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#right-section-title {
    margin: 10px auto;
    font-size: 30px;
    color: white;
}

#left-section form {
    margin: 5px;
    padding: 15px;
}

#left-section h2,
#right-section h2 {
    margin-bottom: 10px;
}

#login-form,
#cadastro-leilao-form {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

#login-form h2,
#cadastro-leilao-form h2 {
    margin-bottom: 10px;
}

#login-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#login-form button[type="submit"]:hover {
    background-color: #45a049;
}

#login-form input[type="text"],
#cadatro-leilao-form label,
#cadastro-leilao-form textarea,
#cadastro-leilao-form input[type="text"],
#cadastro-leilao-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#cadastro-leilao-form button[type="submit"],
#login-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#cadastro-leilao-form button[type="submit"]:disabled {
    background-color: gray;
}

#cadastro-leilao-form input[type=submit]:hover {
    background-color: #45a049;
}